// Helpers
// ==========================================================================

// self clearing floats
.group:before,
.group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
 }

.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

// If image-url is not defined (if we are not in a Rails environment)
// Set a path to /public/images
@if not(function-exists(image-url)) {
  $path: "/public/images/";
}

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

// Want to see how the grid works?
// add this class to the body to see how grid padding is set
.example-highlight-grid {
  .grid-row {
    background: $grey-2;
  }

  .column-highlight {
    background: $grey-3;
    width: 100%;
  }

}

// Hide, but not for screenreaders
.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Refactor:
// https://github.com/alphagov/govuk_template/blob/master/source/assets/stylesheets/_basic.scss#L36

// make elements stick at top of viewport when scrolling
.content-fixed {
  top: 0;
  position: fixed;
}

.shim {
  display: block;
}

// TODO: Delete these from govuk template
// Since it doesn't use the stick-at-top-when-scrolling.js, it should be safe to remove these

