// Tables
// ==========================================================================

table, td, th { font-family: $NTA-Light; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    @include core-19;
    padding: em(12, 19) em(20, 19) em(9, 19) 0;

    text-align: left;
    color: $black;
    border-bottom: 1px solid $border-colour;
  }

  th {
    font-weight: 700;
    // Right align headings for numeric content
    // TODO: REMOVE .numeric as new table styles exist in _component.table.scss
    &.numeric {
      text-align: right;
    }
  }

  // Allow a qualifying element, only table data cells should use tabular numbers
  // scss-lint:disable QualifyingElement
  // TODO: REMOVE .numeric as new table styles exist in _component.table.scss
  td.numeric {
    @include core-16($tabular-numbers: true);
    text-align: right;
  }
}