/*    This has been removed from Normalize (line 408), is it needed here?
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input:focus {
  outline: 3px solid $focus-colour;
}

select:focus {
  outline: 3px solid $focus-colour;
}

textarea:focus {
  outline: 3px solid $focus-colour;
}
