// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_alpha-beta.scss

// Phase tag usage:
//
// Alpha
// .phase-tag {
//    @include phase-tag;
// }
//
// Beta
// .phase-tag {
//    @include phase-tag(beta);
// }

@mixin phase-tag($state: alpha) {
  @include inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;

  @include bold-16($line-height: 20 / 16);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  color: $white;
  @if $state == alpha {
    background-color: $alpha-colour;
  } @else if $state == beta {
    background-color: $beta-colour;
  }
}

// TODO: REFACTOR
.#{$govuk-namespace}-phase-tag--alpha {
  @include phase-tag($state: alpha);
}

.#{$govuk-namespace}-phase-tag--beta {
  @include phase-tag($state: beta);
}
