// Refactoring:
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_components.scss
// From GOV.UK elements
// .govuk-box-highlight {}

.#{$govuk-namespace}-box {
  margin: 1em 0;
  padding: 2em 0 1em;
  text-align: center;
}

.#{$govuk-namespace}-box--highlight {
  color: $white;
  background: $turquoise;
}
