// Refactor:
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_tables.scss

// TODO: REMOVE .table-font-xsmall
.table-font-xsmall {

  th {
    @include bold-16;
  }

  td {
    @include core-16;
  }

  th,
  td {
    padding: em(12, 16) em(20, 16) em(9, 16) 0;
  }
}

// NEW: BEM options for tables
.table__header-numeric {
  text-align: right;
}

.table__cell-numeric {
  @include core-16($tabular-numbers: true);
  text-align: right;
}

.table__header--xsmall {
  @include bold-16;
  padding: em(12, 16) em(20, 16) em(9, 16) 0;
}

.table__cell--xsmall {
  @include core-16;
  padding: em(12, 16) em(20, 16) em(9, 16) 0;
}
