// Refactoring:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_breadcrumbs.scss
// .breadcrumbs

@import "settings/colours";
@import "tools/typography";
@import "tools/shims";
@import "tools/url-helpers";


.#{$govuk-namespace}-breadcrumb {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.#{$govuk-namespace}-breadcrumb__list {
  @extend %contain-floats;
}

.#{$govuk-namespace}-breadcrumb__list-item {
  @include core-16;
  float: left;

  background-image: file-url("separator.png");

  @include device-pixel-ratio() {
    background-image: file-url("separator-2x.png");
    background-size: 6px 11px;
  }

  background-position: 0% 50%;
  background-repeat: no-repeat;

  list-style: none;

  margin-left: 0.6em;
  margin-bottom: 0.4em;
  padding-left: 0.9em;
}

.#{$govuk-namespace}-breadcrumb__list-item a {
  color: $text-colour;
}

.#{$govuk-namespace}-breadcrumb__list-item--first {
  background-image: none;
  margin-left: 0;
  padding-left: 0;
}
